.main {
    background-color: black;
}

.movie-preview{
    height: 90vh;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .info-wrapper {
        width: 35%;
        position: absolute;
        bottom: 150px;
        left: 40px;

        img {
            width: 400px;
        }

        .description {
            margin: 20px 0;
            color: white;
        }

        .button-box {
            display: flex;

            %message {
                display: flex;
                align-items: center;
                margin: 0 10px;
                padding: 10px 25px;
                border: none;
                border-radius: 5px;
                font-weight: 500;
                font-size: 20px;

                span {
                    margin-left: 7px;
                }
            }
        
            .play {
                @extend %message;
                background-color: white;
            }
        
            .more-info {
                @extend %message;
                color: white;
                background-color: gray;
            }
        }
    } 
}

