.row-container {

    .title {
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slider {
        position: relative;
        overflow: hidden;

        .slider-container {
            display: flex;
            width: max-content;
            padding: 0 60px;
        }

        .arrow {
            height: 100%;
            width: 60px;
            background-color: rgba($color: black, $alpha: .3);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }

    }
}