.carousel {
    cursor: pointer;
    padding: 0 clamp(2rem , 3vw, 3.75rem);

    .arrow {
        position: absolute;
        transform: scale(2);
        top: 43%;

        &:hover {
            color: gray;
        }
    }

    .prev {
        left: clamp(-1.8rem, 3vw, -3.75rem);
    }

    .next {
        right: clamp(-1.8rem, 3vw, -3.75rem);
    }

    .title {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .slider-container {
        // This .a to make sure pics can scale over the neighbor div
        .a {
            padding: 2rem 0;

            img {
                width: 100%;
                padding: 0 2px;
                transition: transform .3s;
                border-radius: 7px;
    
                &:hover {
                    transform: scale(1.1);
                    border-radius: 7px;
                }
            }  
        }    
    }
}