.carousel {
    cursor: pointer;
    padding: 0 clamp(2rem , 3vw, 3.75rem);
    color: white;

    .arrow {
        position: absolute;
        transform: scale(2);
        top: 43%;

        &:hover {
            color: gray;
        }
    }

    .prev {
        left: clamp(-1.8rem, 3vw, -3.75rem);
    }

    .next {
        right: clamp(-1.8rem, 3vw, -3.75rem);
    }

    .title {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .slider-container {
        .slide {
            position: relative;
            display: flex !important;
            align-items: center;
            justify-content: center;

            .button-box {
                display: none;
            }

            .image {
                width: 100%;
                padding: 0 2px;
                transition: transform .3s;
                border-radius: 7px;
            }

            &:hover {
                .image {
                    opacity: .3;
                }

                .button-box {
                    transform: scale(3);
                    display: block;
                    position: absolute;

                    .play {
                        margin-right: 5px;

                        &:hover {
                            opacity: .6;
                        }
                    }

                    .info {
                        &:hover {
                            opacity: .6;
                        }
                    }
                }
            }
            
        }  
    }
}