html {
    font-size: clamp(.5rem, 1.3vw, .8rem);
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {   
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #141414;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover {
    opacity: .7;
}