.navbar {
    transition-duration: 1s;
    position: fixed;
    top: 0;
    padding: clamp(.1rem , 3vw, .5rem) clamp(.4rem , 3vw, 3.75rem);
    z-index: 99;
    width: 100%;

    &.scrolled {
        background-color: black;
    }

    .nav-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .nav-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        
            .logo {
                width: clamp(2rem, 10vw, 7rem);
            }
        
            .navigation {
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;

                .navigation-small {
                    display: none;
                }

                .navigation-large {
                    li {
                        display: inline-block;
                        margin-left: clamp(.8rem , 2vw, 3rem);
    
                        &:first-child {
                            margin-left: clamp(1.1rem , 2vw, 4rem);
                        }
                    }
            
                    a {
                        text-decoration: none;
                        transition: 0.5s;
            
                        &:hover {
                            color: #b1b1b1;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    .navigation-large {
                        display: none;
                    }

                    .navigation-small {
                        display: flex;
                        position: relative;

                        li {
                            list-style: none;
                            margin-left: clamp(1.1rem , 2vw, 4rem);
                        }
                        
                        a {
                            text-decoration: none;
                            transition: 0.5s;
            
                            &:hover {
                                color: #b1b1b1;
                            }   
                        }

                        .nav-small-wrapper {
                            display: none;
                        }

                        &:hover {
                            .nav-small-wrapper {
                                display: flex;
                                position: absolute;
                                flex-direction: column;
                                top: 1.5rem;
                                left: -1.7rem;
                                align-items: center;
                            }

                            .nav-small-wrapper-content{
                                background-color: black;
                                width: 15rem;
                                opacity: .8;
                                text-align: center;
                                list-style: none;

                                li {
                                    margin-left: 0;
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .nav-right {
            display: flex;
            align-items: center;

            .search-bar {
                background-color: black;
                border: 1px white solid;
                color: white;
                padding: 5px;
                width: clamp(15rem, 15vw, 30rem);
                height: 2.5rem;
                opacity: .8;
            }
        
            .icon {
                margin-right: .9rem;
            }
        
            .account-box {
                position: relative;
                display: flex;
                flex-wrap: nowrap;
        
                .arrow-down {
                    transition-duration: 0.5s;
                    transition-property: transform;
                }
        
                .account-expand {
                    display: none;
                }
        
                &:hover {
                    .arrow-down {
                        transform: rotate(180deg);     
                    }
        
                    .account-expand {
                        display: flex;
                    }
        
                    .arrow-up {
                        position: absolute;
                        right: 1.5rem;
                        top: 1.4rem;
                    }
        
                    .account-expand-content {
                        position: absolute;
                        opacity: .8;
                        right: 0;
                        top: 2.5rem;
                        flex-direction: column;
                        background-color: black;
                        width: 10rem;
                        text-align: left;
                        padding: .4rem;
                        font-size: clamp(0.5rem, 1.3vw, .8rem);
                                        
                        div {
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}

    



